.container
  .row
    .col-md-12
      %table.table
        %thead
          %tr
            %th Track
            %th Artist
            %th Album
            %th Duration
        %tbody
          - @playlist.tracks.each do |track|
            %tr
              %td= track.name
              %td= track.artists[0]
              %td= track.album
              %td= number_with_precision(track.duration.to_f / 1000 / 60, :precision => 2)